@import './minix.scss';
div {
  font-size: 18px;
}
.el-input,.el-select {
  width: 220px;
}

.margintop {
  margin-top: 10px;
}

.condition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;;
  justify-content: flex-start;
  .condition-item {
    margin-right: 10px;
  }
}